@charset "UTF-8";

/* _______________________External_________________________ */





/* _______________________Global_________________________ */

* {
    margin: 0px;
    padding: 0px;
}

/* _______________________Header_________________________ */

html, body {
    background-color: #1C2128;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}

.topheader{
    background-color: black;
    height: 60px;
    width: 100vw;
    display: flex;
    justify-content: space-around;
}

.leftdflex{
    width: 100px;
    height: 100px;
    display: inline-block;

    background-color: yellowgreen;
}

.centerdflex{
    width: 100px;
    height: 100px;
    display: inline-block;

    background-color: rgb(50, 205, 195);
}

.rightdflex{
    width: 100px;
    height: 100px;
    display: inline-block;

    background-color: rgb(97, 50, 205);
}